# Private key for deployment
# デプロイ用秘密鍵
DEPLOYER_KEY=

# RPC endpoints
# RPC エンドポイント
AWAJI_RPC_URL=https://rpc.awaji.mizuhiki.io
SEPOLIA_RPC_URL=https://rpc.sepolia.org

# MultiBaas deployment info (for hardhat-multibaas-plugin)
# MultiBaas の接続情報（hardhat-multibaas-plugin 用）
MB_HOST=
MB_ADMIN_API_KEY=
